<!DOCTYPE html>
<html>
<head>
  <title>Clientes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
	    <p class="navbar-text pull left">
	    	<%= link_to 'Banco de dados', controller: 'clientes', action: 'banco', :class => 'navbar-link' %> |
    		<%= link_to 'Submeter CSV', controller: 'clientes', action: 'index', :class => 'navbar-link' %> |
    		<%= link_to 'Gerar PDF', :class => 'navbar-link' %>
	    </p>
	    <div class="container">
    		<p class="navbar-text pull-right">
	        	<% if user_signed_in? %>
		          On-line como: <strong><%= current_user.email %></strong>.
		          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
		          <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	        	<% else %>
		          <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
		          <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
	        	<% end %>
      		</p>
    	</div>
  	</div>
	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
